<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156927167801-slip7q7mo973uj3b5it7aquhnrk0bhfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156927167801-slip7q7mo973uj3b5it7aquhnrk0bhfq</string>
	<key>API_KEY</key>
	<string>AIzaSyA1VRWSg-MOj4lnus7ebVAisEWzQCGNLKM</string>
	<key>GCM_SENDER_ID</key>
	<string>156927167801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.3sr0store.AppStore</string>
	<key>PROJECT_ID</key>
	<string>sarstore-f03a6</string>
	<key>STORAGE_BUCKET</key>
	<string>sarstore-f03a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156927167801:ios:0fbbdcab41806f27a06ce8</string>
</dict>
</plist>